{% extends ('base.html.twig') %}

{% block content %}

     <div class="container">
         <div class="jumbotron text-center">
             <h2>Ready for some Pokemon PvP?</h2>
             <p>Subscribe and launch yourself into battle!</p>
             <p>Scrubs, noobs and trolls: STAY AWAY!</p>
             <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
         </div>
     </div>

{% endblock %}
