{% extends ('base.html.twig') %}

{% block content %}

    <div class="container">
        <div class="container">
            <div class="jumbotron">
                <h2 class="text-center">The PokéBattle Ways</h2>
                <div>
                    <p class="text-center">Rule n°1: You may attack others only every 6 hours !</p>
                    <p class="text-center">Rule n°2: If your Pokemon dies, you may revive him ONCE every day !</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}